/* todo: import in nuxt config */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ultra&display=swap");

body,
html {
  font-family: "Inter", sans-serif;
}

.font-ultra {
  font-family: "Ultra", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
